:root {
  --primary-color: rgb(248, 242, 233);
  --secondary-color: rgb(5, 38, 52);
  --third-color: rgb(85, 67, 72);
  --fourth-color: rgba(15, 31, 43, 0.2);
}

@media (max-width: 800px) {
  a.btn {
    justify-content: center;
    width: 100%;
    margin: 10px auto;
  }
  img.img-column {
    width: 100;
    display: none;
  }
  img.about-img {
    margin: 110px;
    width: 100;
  }

  h2#front-end2 {
    text-align: center;
  }
  .faq-container {
    font-size: x-small;
  }
}
span {
  font-size: 40px;
  color: var(--primary-color);
}

h1 {
  font-family: "Snell Roundhand", cursive;
  font-weight: 600;
  font-style: normal;
  margin-top: 50% auto;
  text-align: center;
}
h2 {
  font-family: "Snell Roundhand", cursive;
  margin-top: 50% auto;
  text-align: center;
}
h3 {
  background-color: var(--third-color);
  border: 10px solid var(--third-color);
  border-radius: 10px;
}
b.bold {
  text-align: center;
}
ul {
  font-family: "Futura", sans-serif;
  text-align: left;
  font-size: small;
  color: var(--primary-color);
}
img {
  display: block;
  margin: 50px auto;
  border-radius: 150px;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
}
#nav {
  background-color: var(--secondary-color);
  box-shadow: 10px 10px 20px rgba(15, 31, 43, 0.2);
  color: var(--primary-color);
}

.navbar-custom .navbar-nav .nav-link {
  color: var(--primary-color);
}
.navbar-brand {
  font-family: "Lobster", sans-serif;
}

.header {
  color: var(--primary-color);
}
.section {
  padding-top: 110px;
  padding-bottom: 50px;
}

.container {
  margin-top: 50px;
}

p {
  color: var(--primary-color);
  margin-top: 50% auto;
  text-align: center;
  display: block;
  padding: 30px;
  font-weight: 200;
  line-height: 1.5;
}

.container h1 {
  color: var(--primary-color);
  text-align: center;
}
